<html>
  <head>
  <meta charset=utf8>


  <style>
    .html-wrapper{
      padding: 20px;
      background: url({{site.url}}/public/images/transparent.png);
    }
  </style>
  </head>
<body>
  <h1>
    <a href="{{site.url}}">&larr; К списку страниц</a>
    {{ page.title }}
  </h1>
  <hr>
  <h2>Вёрстка</h2>
  <div class="html-wrapper">
    {{ content }}
  </div>
  <hr>
  <h2>Оригинал</h2>
  <div class="html-wrapper">
    <img src="{{site.url}}/public/images/screenshots/{{page.screenshot}}" alt="">
  </div>
</body>
</html>
